<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid background">
  <h1 class="text-center">Ubigeos</h1><br>
  <div>
    <h3>Departamento</h3>
    <label for=""></label>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Código Padre</th>
          <th scope="col">Descripción Padre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of departamentos">
          <td>{{department.codigo}}</td>
          <td>{{department.nombre}}</td>
          <td>--</td>
          <td>--</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>Provincia</h3>
    <label for=""></label>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Código Padre</th>
          <th scope="col">Descripción Padre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let provincia of provincias">
          <td>{{provincia.codigo}}</td>
          <td>{{provincia.nombre}}</td>
          <td>{{provincia.codigo_padre}}</td>
          <td>{{provincia.descripcion_padre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>Distrito</h3>
    <label for=""></label>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Código Padre</th>
          <th scope="col">Descripción Padre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let distrito of distritos">
          <td>{{distrito.codigo}}</td>
          <td>{{distrito.nombre}}</td>
          <td>{{distrito.codigo_padre}}</td>
          <td>{{distrito.descripcion_padre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
